menu "PAwR Mosaic Configuration"

config PAWR_EPD
	bool "Enabled EPD for PAwR demo"
	select DISPLAY
	imply LVGL
	imply LV_MEM_CUSTOM
	imply LV_USE_LOG
	imply LV_USE_LABEL
	imply LV_USE_IMG
	imply LV_USE_THEME_MONO
	imply LV_FONT_MONTSERRAT_10
	imply LV_FONT_MONTSERRAT_12
	imply LV_FONT_MONTSERRAT_14
	imply LV_FONT_MONTSERRAT_16
	imply LV_FONT_MONTSERRAT_18
	imply LV_FONT_MONTSERRAT_24

endmenu

if PAWR_EPD

config LV_Z_VDB_SIZE
	default 16

config LV_DPI_DEF
	default 130

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1
endchoice

config LV_Z_BITS_PER_PIXEL
	default 1

endif # PAWR_EPD

source "Kconfig.zephyr"


